<!DOCTYPE html>
<html style="height:100%; width:100%;">
  <head>
    <meta charset="utf-8">
    <title>TRPG支援ツール・入室確認画面</title>
    <link rel="stylesheet" href="../static/css/roomEntry.css">
    <script src="../static/js/roomEntry.js"></script>
  </head>
  <body style="height:100%; width:100%;">

    <div style="display:table; height:100%; width:100%;">
      <div style="width:100%; display:table-cell; vertical-align:middle; height:100%; width:100%; text-align:center;">
        <b>＜ルーム名＞</b>に入室しますか？
        <div style="width:100%;">
          <input type="text" placeholder="パスワードを入力">
          <input type="button" value="入室">          
        </div>
      </div>
    </div>

  </body>
</html>    